FSIM_REPO_DIR=/mnt/nfs/home/ac146091/forecast-sim

FSIM_DATASET_PATH=nikhilchandak/OpenForesight
FSIM_DATASET_CACHE=/mnt/nfs/datasets_ac/cache/huggingface/datasets
FSIM_OUTPUT_BASE=${FSIM_REPO_DIR}/logs/current_sim
FSIM_SEARCH_DB=/mnt/nfs/datasets_ac/news/deduped_articles/lance/Qwen3-Embedding-8B
FSIM_EMBEDDING_MODEL=/mnt/nfs/datasets_ac/models/Qwen3-Embedding-8B
FSIM_MATCHER_MODEL=/mnt/nfs/datasets_ac/models/qwen3-4b-it-2507
FSIM_DEFAULT_MODEL_PATH=${FSIM_MATCHER_MODEL}

FSIM_NEWS_BASE=/mnt/nfs/datasets_ac/news
FSIM_HF_HOME=/mnt/nfs/datasets_ac/cache/huggingface
FSIM_SIM_LOG_BASE=${FSIM_REPO_DIR}/logs/sims
FSIM_NEWS_LOG_BASE=${FSIM_REPO_DIR}/logs/news
FSIM_SKYRL_LOG_BASE=${FSIM_REPO_DIR}/logs/skyrl
FSIM_SKYRL_OUTPUT_DIR=${FSIM_REPO_DIR}/logs/skyrl/data
FSIM_SKYRL_CKPT_BASE=${FSIM_REPO_DIR}/logs/skyrl/ckpts
FSIM_SYNTHETICQA_LOG_DIR=${FSIM_REPO_DIR}/logs/syntheticqa
FSIM_TANTIVY_INDEX_ROOT=${HOME}/forecasting/lancedb_tantivy_indices
